.container-score{
	width: 90vw;
	height: 6vh;
	margin: 2vw 5vw;
	display: grid;
	grid-template-columns: 70% 30%;
	
	.steps{
		background-color: #AD908A;
		display: grid; 
		place-items: center; 
		.container-steps{
			height: 6vh; 
			display: flex; 
			justify-content: center; 
			align-items: center; 
			width: 90%; 
			background-color: crimson; 
			overflow: hidden; 
			& *{
				margin-left: 10px; 
				a{
					cursor: pointer;
					font-size: 2rem; 
					color: white;
					text-decoration: underline; 
					&:hover{
						font-weight: bold; 
						color: darken(white,40);
					}
				}

			} 
		}

	}
	
	.time{
		background-color: #BCDB9E;
		display: grid; 
		place-items: center; 
	}
}